.img-preview {
    object-fit: cover;
    width: 70px;
    height: 70px;
}

.img-icon {
    object-fit: cover;
    width: 40px;
    height: 40px;
}

.chat {
    max-height: 55vh;
    overflow: auto;

}

.out-chat-message {
    background-color: #DCF8C6;
}

.in-chat-message {
    background-color: lavender;
}

.pagination {
    margin-bottom: 0 !important;
}

.list-group-flush a:hover {
    text-decoration: none;
}

.btn-link:hover, .btn-link:focus {
    text-decoration: none !important;
}

.page-item a:hover {
    text-decoration: none;
}

.page-item.disabled a {
    pointer-events: none;
}

.custom-file ~ .invalid-feedback {
    display: block;
}

.form-control-wrapper ~ .invalid-feedback {
    display: block;
}

.form-control-wrapper {
    display: flex;
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    width: 1%;
    margin-bottom: 0;
}

.react-datepicker-wrapper {
    width: 100%;
}

.react-datepicker__input-container {
    width: 100%;
}

.react-datepicker__input-container input {
    width: 100%;
    border-radius: 0;
}

.react-datepicker-popper {
    z-index: 999 !important;
}

.react-autosuggest__container {
    position: relative;
}

.react-autosuggest__input {
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    font-family: Helvetica, sans-serif;
}

.react-autosuggest__input--focused {
    outline: none;
}

.react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
    display: none;
}

.react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 51px;
    width: 280px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}

.react-autosuggest__section-container {
    border-top: 1px dashed #ccc;
}

.react-autosuggest__section-container--first {
    border-top: 0;
}

.react-autosuggest__section-title {
    padding: 10px 0 0 10px;
    font-size: 12px;
    color: #777;
}
